@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);

a {
    color: #666;
    text-decoration: none; }
a:hover {
    color: #4FDA8C; }

input {
    font: 16px/26px "Raleway", sans-serif; }

body {
    color: #666;
    background-color: lightblue;
    font: 16px/26px "Raleway", sans-serif; }

.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}
