@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);

a {
    color: #666;
    text-decoration: none; }
a:hover {
    color: #4FDA8C; }

input {
    font: 16px/26px "Raleway", sans-serif; }

body {
    color: #666;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font: 16px/26px "Raleway", sans-serif; }

#box{
    margin: 30px;
}

#top1{
    margin: 10px
}
#top2{
    margin: 10px
}
#menu{
    margin: 10px
}
#main{
    margin: 10px
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}