@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);
* {
    margin: 0;
    padding: 0; }

a {
    color: #666;
    text-decoration: none; }
a:hover {
    color: #4FDA8C; }

input {
    font: 16px/26px "Raleway", sans-serif; }

body {
    color: #666;
    background-color: #f1f2f2;
    font: 16px/26px "Raleway", sans-serif; }

