<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowe urządzenie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form action="#" th:action="@{/newTablet}" th:object="${newTablet}" method="post">

    <table>
        <a href="#" class="btn btn-secondary btn-lg disabled" role="button" aria-disabled="true">Dodaj</a>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>producent:</td>
            <td><input type="text" name="producent" th:field="*{producent}" placeholder="producent"></td>
        </tr>
        <tr>
            <td>grupa_produktowa:</td>
            <td><input type="text" name="grupa_produktowa" th:field="*{grupa_produktowa}"></td>
        </tr>
        <tr>
            <td>ram</td>
            <td><input type="text" name="ram" th:field="*{ram}"></td>
        </tr>
        <tr>
            <td>technologia_dotykowa:</td>
            <td><input type="text" name="technologia_dotykowa" th:field="*{technologia_dotykowa}"></td>
        </tr>
        <tr>
            <td>typ_wyswietlacza</td>
            <td><input type="number" name="typ_wyswietlacza" th:field="*{typ_wyswietlacza}"></td>
        </tr>
        <tr>
            <td>wersja</td>
            <td><input type="text" name="wersja" th:field="*{wersja}"></td>
        </tr>
        <tr>
            <td>rozdzielczosc</td>
            <td><input type="text" name="rozdzielczosc" th:field="*{rozdzielczosc}"></td>
        </tr>
        <tr>
            <td>model_procesora</td>
            <td><input type="number" name="model_procesora" th:field="*{model_procesora}"></td>
        </tr>
        <tr>
            <td>ilosc_rdzeni</td>
            <td><input type="text" name="ilosc_rdzeni" th:field="*{ilosc_rdzeni}"></td>
        </tr>
        <tr>
            <td>system_operacyjny</td>
            <td><input type="text" name="system_operacyjny" th:field="*{system_operacyjny}"></td>
        </tr>
        <tr>
            <td>aparat_przod</td>
            <td><input type="number" name="aparat_przod" th:field="*{aparat_przod}"></td>
        </tr>
        <tr>
            <td>aparat_tyl</td>
            <td><input type="text" name="aparat_tyl" th:field="*{aparat_tyl}"></td>
        </tr>
        <tr>
            <td>pojemnosc_akumulatora</td>
            <td><input type="number" name="pojemnosc_akumulatora" th:field="*{pojemnosc_akumulatora}"></td>
        </tr>
        <tr>
            <td>cena</td>
            <td><input type="number" name="cena" th:field="*{cena}"></td>
        </tr>


    </table>
    <div class="btn-group" role="group" aria-label="Basic example">

        <input class="btn btn-dark" type="reset" value="Reset">
        <button type="button" class="btn btn-outline-dark" disabled></button>
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</form>
</body>
</html>