<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Czat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload="connect()">
<div align="center">
    <button type="button" class="btn btn-info btn-lg btn-block" disabled><h2>Witaj na czacie użytkowniku!</h2></button>
    <br>
    <button class="btn btn-outline-info" onclick="window.location.href='http://localhost:8080/'"><i
            class="fa fa-home"></i> Powrót do strony głównej
    </button>
    <br><br>

    Podaj swoją nazwę:<br>
    <input id="user" type="text" placeholder="Nazwa tylko na czas sesji"/> <br>
    <br>
    Wpisz swoją wiadomość:<br>
    <input id="messageToSend" type="text" placeholder="Treść"/><br>

    <div align="center" th:id="czat">
        <br>
        <button class="btn btn-info" onclick="sendMessage()">Wyślij</button>

        <p id="reponse"></p>
    </div>
</div>
<script src="js/logic.js"></script>
<script src="js/stomp.js"></script>
</body>
</html>