<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sukces</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<h1>Rejestracja zakończona pomyślnie!</h1>
<br>
<input type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Do strony głównej" value="Strona gówna" onclick="window.location.href='http://localhost:8080/home'">
<br><br>
░░▄███▄███▄<br>
░░█████████<br>
░░▒▀█████▀░<br>
░░▒░░▀█▀<br>
░░▒░░█░<br>
░░▒░█<br>
░░░█<br>
░░█░░░░███████<br>
░██░░░██▓▓███▓██▒<br>
██░░░█▓▓▓▓▓▓▓█▓████<br>
██░░██▓▓▓(◐)▓█▓█▓█<br>
███▓▓▓█▓▓▓▓▓█▓█▓▓▓▓█<br>
▀██▓▓█░██▓▓▓▓██▓▓▓▓▓█<br>
░▀██▀░░█▓▓▓▓▓▓▓▓▓▓▓▓▓█<br>
░░░░▒░░░█▓▓▓▓▓█▓▓▓▓▓▓█<br>
░░░░▒░░░█▓▓▓▓█▓█▓▓▓▓▓█<br>
░▒░░▒░░░█▓▓▓█▓▓▓█▓▓▓▓█<br>
░▒░░▒░░░█▓▓▓█░░░█▓▓▓█<br>
░▒░░▒░░██▓██░░░██▓▓██<br>
████████████████████████<br>
█▄─▄███─▄▄─█▄─█─▄█▄─▄▄─█<br>
██─██▀█─██─██─█─███─▄█▀█<br>
▀▄▄▄▄▄▀▄▄▄▄▀▀▄▄▄▀▀▄▄▄▄▄▀<br>



</body>
</html>