<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style-home.css" th:href="@{/css/style-home.css}"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div align="center" th:id="box">

    <ul>
        <li><a href="#kontakt">Kontakt</a></li>
        <li><a href="#pomoc">Pomoc techniczna</a></li>
        <li><a href="#rejestracja">Rejestracja</a></li>
        <li style="float:right"><a class="active" href="#zaloguj">Zaloguj</a></li>
    </ul>
    <div align="center" th:id="top2">Logo | Wyszukaj | kateogria | znajdz sklep | koszyk</div>
    <div align="center" th:id="menu">GAMING / LAPTOPY / KOMPUTERY / TABLETY / AKCESORIA / RTV / AGD / MOTO</div>
    <div align="center" th:id="main">MAIN</div>


</div>
</body>
</html>