<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Laptopy</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>



<a href="#" class="btn btn-secondary btn-lg btn-block disabled" role="button" aria-disabled="true"><h2>Laptopy i Notebooki</h2></a>
<table  class="table table-striped">
    <tr>
        <th>producent</th>
        <th>grupa_produktowa</th>
        <th>system_operacyjny</th>
        <th>rodzaj_laptopa</th>
        <th>przekatna_ekranu</th>
        <th>typ_procesora</th>
        <th>rodzaj_dysku</th>
        <th>rozdzielczosc</th>
        <th>seria_procesora</th>
        <th>model_procesora</th>
        <th>ilosc_rdzeni</th>
        <th>ram</th>
        <th>ilosc_dyskow</th>
        <th>pojemnosc_ssd</th>
        <th>pojemnosc_hdd</th>
        <th>karta_graficzna</th>
        <th>wyjscia_karty_graficznej</th>
        <th>cena</th>
    </tr>

    <tr  th:each="wpis: ${notebooks}">
        <td th:text="${wpis.producent}">producent</td>
        <td th:text="${wpis.grupa_produktowa}">grupa_produktowa</td>
        <td th:text="${wpis.system_operacyjny}">system_operacyjny</td>
        <td th:text="${wpis.rodzaj_laptopa}">rodzaj_laptopa</td>
        <td th:text="${wpis.przekatna_ekranu}">przekatna_ekranu</td>
        <td th:text="${wpis.typ_procesora}">typ_procesora</td>
        <td th:text="${wpis.rodzaj_dysku}">rodzaj_dysku</td>
        <td th:text="${wpis.rozdzielczosc}">rozdzielczosc</td>
        <td th:text="${wpis.seria_procesora}">seria_procesora</td>
        <td th:text="${wpis.model_procesora}">model_procesora</td>
        <td th:text="${wpis.ilosc_rdzeni}">ilosc_rdzeni</td>
        <td th:text="${wpis.ram}">ram</td>
        <td th:text="${wpis.ilosc_dyskow}">ilosc_dyskow</td>
        <td th:text="${wpis.pojemnosc_ssd}">pojemnosc_ssd</td>
        <td th:text="${wpis.pojemnosc_hdd}">pojemnosc_hdd</td>
        <td th:text="${wpis.karta_graficzna}">karta_graficzna</td>
        <td th:text="${wpis.wyjscia_karty_graficznej}">wyjscia_karty_graficznej</td>
        <td th:text="${wpis.cena}">cena</td>

        <td>
            <a href="#" th:href="@{/details-notebook(id=${wpis.id})}" class="btn btn-outline-primary"
               data-toggle="tooltip" data-placement="top" title="Szczegółowe informacje"></i>Szczegóły</a>
        </td>

        <td>
            <a href="#" th:href="@{/delete-notebook(id=${wpis.id})}" class="btn btn-danger"
               data-toggle="tooltip" data-placement="top" title="Usuń na zawsze"></i>Usuń</a></td>

</table>

<p align="right">

    <input type="button" class="btn btn-primary btn-lg" value="Dodaj" onclick="window.location.href='http://localhost:8080/newNotebook'">
</p>
<a href="#" class="btn btn-secondary btn-lg btn-block disabled" role="button" aria-disabled="true"><h2></h2></a>






</body>
</html>