<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Formularz serwisowy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:align="center">
    <button type="button" class="btn btn-info btn-lg btn-block" disabled><h2>Rejestracja</h2></button>
    <br>
<div th:align="center">

<form th:action="@{/register}" th:object="${user}" method="post">
    <b>Login:</b><br>
    <input type="text" name="username" th:field="*{username}">
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username</span>
    <br>
        <b>Hasło:</b><br>
    <input type="password" name="password" th:field="*{password}">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password</span>
    <br>
    <b>Powtórz hasło:</b><br>
    <input type="password" name="confirmPassword" th:field="*{confirmPassword}">
    <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">confirmPassword</span>
    <br>
    <b>E-Mail:</b><br>
    <input type="email" name="mail" th:field="*{mail}">
    <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">mail</span>
    <br><br>
    <button type="submit" class="btn btn-info">Zarejestruj się!</button>

    <button type="reset" class="btn btn-outline-dark"><i class="fa fa-trash"></i> Wyczyść dane</button><br>
</form>

</div>
    <br>
    <div align="center">
        <button class="btn btn-outline-info" onclick="window.location.href='http://localhost:8080/'"><i
                class="fa fa-home"></i> Powrót do strony głównej
        </button>
    </div>
</div>
</body>
</html>