<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style-sing-up.css" th:href="@{/css/style-sing-up.css}"/>

</head>
<body>
<div align="center" th:id="box">
<h1>Rejestracja</h1><br>
<form th:action="@{/register}" method="post">

    Login:<br>
    <input type="text" name="username">
    <br>
    Hasło:<br>
    <input type="password" name="password">
    <br>
    E-Mail:<br>
    <input type="text" name="mail">
    <br><br>
    <button type="submit" class="btn btn-outline-secondary">Zarejestruj się!</button>
    <button class="btn btn-primary" disabled>
        <span class="spinner-border spinner-border-sm"></span>
    </button>
    <button type="reset" class="btn btn-outline-secondary">Wyczyść dane</button><br><br>



</form>

</div>
</body>
</html>