<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li sec:authorize="isAnonymous()" class="nav-item active">
            <li sec:authorize="isAuthenticated()" class="nav-item active">
                <button type="button" onclick="window.location.href='http://localhost:8080/logout'"
                        class="btn btn-info btn-lg btn-block">Wyloguj
                </button>
            </li>
        </ul>
    </div>
</nav>
<div th:align="center">
    <button type="button" class="btn btn-info btn-lg btn-block" disabled><h2>Formularz serwisowy</h2></button>
    <br>
    <h2>Część 3 z 3</h2>
    <p>Wybrana usterka: </p>
    <h5 th:text="${previousStepValue}">Value z drugiego</h5>
    <form th:action="@{/stepthree}" th:object="${stepThreeForm}" method="post">
        <select th:field="*{number}"><br>
            <option class="doHref" th:value="404"> Proszę doprecyzować</option>
            <div th:each="option : ${stepThreeOptions}">
                <option th:text="${option.value}" th:value="${option.number}"> Urzadzenie</option>
            </div>
        </select><br>
        <button class="btn btn-info btn-sm" type="submit" value="submit">Dalej</button>

    </form>
    <br><br><br><br>
    <h6>Uwaga!</h6>
    <h6>Formularz zwraca tylko <u>przybliżoną</u> diagnozę problemu i nie jest to w pełni miarodajny wynik.</h6>
    <br><br>
    <button class="btn btn-outline-info" onclick="window.location.href='http://localhost:8080/'"><i
            class="fa fa-home"></i> Powrót do strony głównej
    </button>
</div>
</body>
</html>