<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Formularz serwisowy</h1>
<h2>Część 3 z 3</h2>
<p>Wybrana usterka: </p>
<h5 th:text="${previousStepValue}">Value z drugiego</h5>
<form th:action="@{/stepthree}" th:object="${stepThreeForm}" method="post">
    <select th:field="*{number}">
        <option class="doHref" th:value="404"> Wybierz opcję</option>
        <div th:each="option : ${stepThreeOptions}">
            <option th:text="${option.value}" th:value="${option.number}"> Urzadzenie</option>
        </div>
    </select>
    <button type="submit" value="submit">Dalej</button>
</form>
</body>
</html>